*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar a:hover{
    border-bottom: 2px #fff solid;
}

.navbar {
    /* background: linear-gradient(to right, rgb(5, 26, 39), rgb(17, 35,52));
    background-color: rgb(2, 25, 38);*/
    background-color: rgb(9, 12, 29);

}

.container {
    max-width: 1200px;
    overflow: auto;
    padding: 0 40px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}

.logo {
    color: rgb(226,226,226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
  
}

.nav-links li{
    list-style: none;
    padding: 0 0 0 20px;
}

.nav-links a{
    color: rgb(226,226,226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 2.8px;
    background-color: rgb(226,226,226);
    margin: 5px;
    transition: all 0.3s ease;
}


.footer {
    background-color: rgb(9, 12, 29);
    padding-bottom: 10px;
    padding-top: 10px;
}

.footer li {
    list-style: none;
    border-bottom: none;
    text-align: center;
}

.footer a{
    color: rgb(226,226,226);
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 3px;
}

.footer i{
    padding-left: 5px;
}

.footer .navigation a:hover {
    border-bottom: 2px #fff solid;
    cursor: pointer;
}

h4 {
    color: rgb(226,226,226);
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 5px;
    text-transform: uppercase;
}

h5 {
    color: #333;
    font-size: 20px;
    letter-spacing: 5px;
}

.languages {
    background-color: white;
    /*background-color:#f4f4f4;*/
}

.languages .flex {
    flex-wrap: wrap;
}

.languages .card {
    background-color: #ffffff;
    text-align: center;
    width: 110px;
    height: auto;
    transition: transform 0.2s ease-in;
}

.languages .card:hover {
    transform: translateY(-15px);
}

.languages .card img{
    border-radius: 2px;
}

.languages h4 {
    color: #333;
    text-align: center;
}

.languages .card img {
    width: 80px;
    height: 80px;
    margin-top: 10px;
}

.languages p {
   font-weight: bold;
}

.card {
    background-color: #fff;
    color: #333;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 10px;
}

.banner {
    position: relative;
    min-height: 65vh;
    background: url(Images/StockSnap_ANH6T66XAM.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;          /* Firefox */
    image-rendering: -o-crisp-edges;            /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
    -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */ 
}


.banner button {
    display: inline-block;
    position: relative;
}

.banner h2{
    color: rgb(226,226,226);
    margin-top: 0px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: lighter;
    font-size: 17px;
}

.banner .container {
    padding: 20px;
}

.banner h3 {
    color: rgb(226,226,226);
}

.cloud {
    margin: 0;
    background-color: #f4f4f4;
}

.cloud .grid {
    grid-template-columns: 5fr 2fr;
}

.cloud img {
    border-radius: 100px;
}


.about {
    /*background: linear-gradient(rgba(197, 193, 193, 0.925), white);*/
    background: linear-gradient( rgba(180, 179, 179, 0.925), white);
}


.about .grid-3 > *:first-child{
    grid-column: 1 / span 2;
}

.content .grid i{
    display: grid;
    grid-template-columns: (5fr, 0fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height:100%;
}

.content {
    display: flex;
    justify-content: space-between;
    
}

.content img{
    height: 250px;
    width: 250px;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 10px;
}

.content p{
    font-size: 17px;
    letter-spacing: normal;
}



.hobbies .content .hobbiesbox{
    background-color: #f4f4f4;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
}

.hobbies .grid > *:first-child{
    grid-column: 1 / span 2;
}

.hobbies .grid > *:nth-child(4){
    grid-column: 1 / span 2;
}

.hobbiesbox {
    border-radius: 10px;
}

.hobbies {
    /*background: linear-gradient(rgba(197, 193, 193, 0.925), #f4f4f4);*/
    /*background: linear-gradient(#f4f4f4,white);*/
    background-color: white;
}

.hobbies .content {
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.work p {
    font-size: 17px;
    letter-spacing: normal;
}

.work .grid-5 > *:first-child {
    grid-column: 1 / span 4;
}

.wsp {
    background-color: white;
}

.ken img {
    width: 698px;
    height: 462px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aphoto h2 {
    font-size: 19px;
}

.wsp img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    box-shadow: #333;
    margin-left: 40px;
}

.mof img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    box-shadow: #333;
    margin-left: 40px;
}

.contact .info p {
    font-size: 17px;
    letter-spacing: normal;
    font-weight:  bolder;
    color: rgb(226,226,226);
}

.contact h2 {
    color: rgb(226,226,226);
}

.contact p {
    font-size: 17px;
    color: rgb(226,226,226);
}


.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info a {
    align-items: center;
    font-size: 17px;
    letter-spacing: normal;
    display: block;
    color: rgb(226,226,226);
    font-weight: bolder;  
}

.showcase-form {
    display: none;
}

.contact .grid > *:nth-child(1){
    grid-column: 1 / span 2;
}

.contact i{
    color: rgb(226,226,226);
}

.contact {
    position: relative;
    min-height: 90vh;
    background: url(Images/tim-umphreys-v9xjEjGKgao-unsplash.jpg);
    background-size: cover;
    background-position: right;
    justify-content: space-between;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;          /* Firefox */
    image-rendering: -o-crisp-edges;            /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
    -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */ 
}


/* Game 2 */
.test {
    margin: 0px;
    height: 5px;
    background-color: #333;
}

.game-2 .play-area {
    animation: slideInFromRight 1s ease-in;
}
.game-2 h1 {
    margin: 0;
    padding: 10px;
}


button{
    border: 1px solid black;
    height: 75px;
    width: 75px;
}

.block {
    width: (350/3)px;
    height: (350/3)px;
}

.play-area {
    width: 350px;
    height: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 0;
}

.block:hover {
    background-color:grey ;

}

.game-2 .play-area{
    padding: 0;
}

.game-2 button {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: var(--light-color);
    border-radius: 5px;
    border: 3px solid black;
    vertical-align: middle;
    width: 200px;
    height: auto;
}

.game-2 button:hover { 
    transform: scale(0.95);
    border: 5px solid red;
}

.block {
    background-color: white;
    border: 3px solid black;
}

#block-1,
#block-2,
#block-3 {
  border-top: none;
}

#block-1,
#block-4,
#block-7 {
  border-left: none;
}

#block-7,
#block-8,
#block-9 {
  border-bottom: none;
}

#block-3,
#block-6,
#block-9 {
  border-right: none;
}






@media screen and (max-width:1024px) {
    .nav-links {
        width: 60%;
    }

    .about img{
        display: none;
    }

    .about .grid-3 > *:nth-child(1){
        grid-column: 1 / span 3;
    }


    .about h3{
        text-align: center;
    }

    .about p{
        text-align: center;
    }
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }

    .contact .grid > *:nth-child(1){
        grid-column: 1 / span 2;
    }

    .contact .grid > *:nth-child(2){
        grid-column: 1 / span 2;
    }

    .nav-links {
        position: fixed;
        right: 0px;
        height: 70vh;
        top: 8vh;
        background-color: rgb(5, 26, 39);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 1;
    }

    .hobbies .grid > *:first-child{
        grid-column: 1 / span 2;
    }
    
    .hobbies .grid > *:nth-child(2){
        grid-column: 1 / span 2;
    }

    .hobbies .grid > *:nth-child(3){
        grid-column: 1 / span 2;
    }
    .hobbies .grid > *:nth-child(4){
        grid-column: 1 / span 2;
    }

    .footer .vertical {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        display: block;
        text-align: center;
    }

    .footer .vertical h4 {
        padding: 2rem 0;
    }

    .footer .vertical li{
         padding: 0.6rem 0;
    }

    .footer .vertical i{
        padding: 2rem 5px ;
    }


    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

    .wsp img {
        display: none;
        background-color: pink;
    }

    .wsp .grid-5 > *:nth-child(1){
        grid-column: 1 / span 5;
    }

    .mof img {
        display: none;
        background-color: pink;
    }

    .mof .grid-5 > *:nth-child(1){
        grid-column: 1 / span 5;
    }

    .ken .aphoto {
        display: none;
    }

    .ken p {
        padding: 0;
    }

    .work .grid-5 {
        display: grid;
        gap: 0;
        grid-template-columns: repeat((5, 1fr));
    }

}


.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}